---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sobre mí";

const identity = {
  firstname: "Edgar",
  country: "Venezuela",
  occupation: "Desarrollador Web freelance",
  hobbies: ["Programar", "Jugar videojuegos", "Estudiar economía", "Ver animé"]
};

const skills = ["HTML", "CSS", "Tailwind CSS", "Javascript", "Node js", "Astro"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "Navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={ pageTitle }>
  <p>
    Aspirante a desarrollador freelance frontend y estudiante universitario de ingeniería 
    informática. Este es mi primer sitio web hecho con  el framework Astro, ¡Bienvenido!
  </p>
  <p>
    Estoy trabajando con el tutorial introductorio de Astro. Esta es la segunda página de mi sitio 
    web, ¡Es la primera página construida "completamente" por mí mismo!
  </p>

  <h3>Algunos datos sobre mí</h3>
    <ol>
    <li>Me llamo {identity.firstname}</li>
    <li>Vivo en {identity.country} y trabajo como <strong>{identity.occupation}</strong></li>
    <li>
      Mis hobbies: {
        identity.hobbies.map((b, i, arr) => 
        <strong>{b}</strong><>{(i < arr.length-1) && <>, </>}</>)
      }
    </li>
  </ol>

  <h3>Mis habilidades</h3>
  <ul>
    { skills.map(skill => <li class="skill">{skill}</li>) }
  </ul>

  <p>
    Este sitio web se irá actualizando a medida que vaya completando la lecciones del curso 
    introductorio de Astro, por favor, ¡No dejes de visitarlo para ver como va mi viaje como 
    desarrollador web frontend!
  </p>

  {happy && <p>¡Estoy feliz de aprender Astro!</p>}
  {finished && <p>¡He terminado este tutorial!</p>}
  {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
</BaseLayout>

<!-- <style define:vars={{skillColor, fontWeight, textCase}}>
  h1 {
    color: purple;
    font-size: 4rem;
  }

  .skill {
    font-weight: var(--fontWeight);
    color: var(--skillColor);
    text-transform: var(--textCase);
  }
</style> -->