---
const pageTitle = "Sobre mí";

const identity = {
  firstname: "Edgar",
  country: "Venezuela",
  occupation: "Desarrollador Web freelance",
  hobbies: ["Programar", "Jugar videojuegos", "Estudiar economía"]
};

const skills = ["HTML", "CSS", "Tailwind CSS", "Javascript", "Astro"];

const happy = true;
const finished = false;
const goal = 3;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog">Blog</a>

    <h1>{pageTitle}</h1>
    <p>
      Aspirante a desarrollador freelance frontend y estudiante universitario de ingeniería 
      informática. Este es mi primer sitio web hecho con  el framework Astro, ¡Bienvenido!
    </p>
    <p>
      Estoy trabajando con el tutorial introductorio de Astro. Esta es la segunda página de mi sitio 
      web, ¡Es la primera página construida "completamente" por mí mismo!
    </p>

    <h3>Algunos datos sobre mí</h3>
      <ol>
      <li>Me llamo {identity.firstname}</li>
      <li>Vivo en {identity.country} y trabajo como <strong>{identity.occupation}</strong></li>
      <li>
        Mis hobbies: {
          identity.hobbies.map((b, i, arr) => 
          <strong>{b}</strong><>{(i < arr.length-1) && <>, </>}</>)
        }
      </li>
    </ol>

    <h3>Mis habilidades</h3>
    <ul>
      { skills.map(skill => <li>{skill}</li>) }
    </ul>

    <p>
      Este sitio web se irá actualizando a medida que vaya completando la lecciones del curso 
      introductorio de Astro, por favor, ¡No dejes de visitarlo para ver como va mi viaje como 
      desarrollador web frontend!
    </p>

    {happy && <p>¡Estoy feliz de aprender Astro!</p>}
    {finished && <p>¡He terminado este tutorial!</p>}
    {goal === 3 ? <p>Mi objetivo es terminar en 3 días.</p> : <p>Mi objetivo no son 3 días.</p>}
	</body>
</html>